body{
    margin: 0;
    font-family: 'glacial';
	background-image: url("/pic/bg.png");
    box-sizing: border-box;
}

.header{
    font-size: 200%;
    font-weight: bold;
    line-height: 1;
}
#topBox{
    margin-top: 5%;
    margin-bottom: 50%;
    color: white;
    font-size: 200%;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
#inline{
    display: inline-block;
}

.button{
    width: 100%;
    color: rgb(255, 255, 255);

    padding-top: .75rem;
    padding-bottom: .75rem;

    font-size: 160%;

    border-radius: 9999px;
    border: 2px solid white;
}

#startGameBtn{
    color: black;
    background-color: white;
    box-shadow: 4px 4px 3px 2px rgba(0, 0, 0, 0.2);
}

.border{
    margin: 0%;
    height: 100vh;
    width:  100%;
    text-align: center;
    padding: 6rem;
    border: 0px;
}

#flexSpace{
    display: block;
    background-color: rgb(146, 206, 206);
    color: black;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-block: 10vh;
    padding-inline: 10vw;
}

#page{
	display: grid;
    align-items: start;
	grid-template-columns: 1fr 2fr;
    height: 20vh;
}
@font-face {
	font-family: 'glacial';
	src: url("/fonts/GlacialIndifference-Regular.otf");
}
@font-face {
	font-family: 'glacialBold';
	src: url("/fonts/GlacialIndifference-Bold.otf");
}

.likeButton{
    color: white;
    background-color: rgb(24, 146, 146);
    border-radius: 25px;
}

.commentButton{
    color: white;
    min-width: 80px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(24, 146, 146);
    border-radius: 25px;
}

div[id*="No"]{
    border-bottom: solid black 1px;
    display: grid;
    align-content: flex-start;
    grid-template-columns: 1fr 3fr 3fr 2fr 3fr;
    column-gap: 2vw;
    padding: 10px;
    margin-bottom: 2vw;
    position: relative;
    font-size: 130%;
}

#ScoreUser{
    margin-top: 60px;
    position: relative;
}