body{
	font-family: 'glacial';
	background-image: url("/pic/bg.png");
}
#conScale{
	box-sizing: border-box;
	display: block;
	background-color: white;
	border-radius: 25px;
	box-shadow: 4px 4px 3px 2px rgba(0, 0, 0, 0.2);
	width: 50%;
	padding-left: 120px;
	padding-right: 120px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}
#container{
	display: block;
	align-self: center;
	justify-self: center;
	position: relative;
	font-size: 130%;
}
#container.out{
	display: block;
	align-self: center;
	justify-self: center;
	position: relative;
}

.form input{
	height: 40px;
	width: 100%;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size:18px;
	border: 2px solid lightgray;
	box-sizing: border-box;
}

#errordisplay{
	/*margin-top: -20px;*/
	font-size:12px;
	color: #EE0019;
}
#loginButton
{
	box-sizing: border-box;
	background-color: rgb(0, 72, 72);
	border: rgb(0, 72, 72);
	color: white;
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
	text-decoration: none;
	cursor: pointer;
}
#registerButton{
	height: 40px;
	width: 100%;
	border-radius: 10px;
	box-sizing: border-box;
	background-color: rgb(0, 72, 72);
	border: rgb(0, 72, 72);
	color: white;
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
	text-decoration: none;
	cursor: pointer;
}
#inline{
	display: inline-block;
}

#topic{
	font-size: 300%;
    font-weight: bold;
	color: white;
	text-align: center;
	margin-top: 2%;
    margin-bottom: 4%;
}

@font-face {
	font-family: 'glacial';
	src: url("/fonts/GlacialIndifference-Regular.otf");
}
@font-face {
	font-family: 'glacialBold';
	src: url("/fonts/GlacialIndifference-Bold.otf");
}